@media screen and (min-width: 550px) {

    body {
        max-width: 1300px;
        margin: auto;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    div {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    div section {
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
    }

    main h1,
    main h2 {
        font-size: x-large;
    }

    /* Responsive Navigation for Mobile Views */
    nav a {
        display: block;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }

    nav li:hover {
        background-color: #8d5454;
    }

    nav .active:hover {
        background-color: #ac4040;
    }

    nav .active {
        background-color: #7c4242;
    }
}
