
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f8f8;
    text-align: center;
    margin: 0;
    padding: 0;
}

.thank-you-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size: 24px;
}

p {
    color: #667;
    font-size: 16px;
    margin-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
